*{
  /* background-color: #192840; */
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
.App{
  min-width: 320px;
  background-color: #192840;
  height: 100%;
}
.Header {
  /* display: flex; */
  width: 425px;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  height: 40px;
  overflow: hidden;
  position: fixed;
  top:0;
  background-color: #192840;
}
.Top-Nav{
  
}
.Last-Updated{
  text-align: right;
}

.Main {
  margin-top: 40px;
  min-height: 100%;
  margin-bottom: 30px;
}



Button, .Graph, .Total-Cases,.Total-Recoveries, .Total-Deaths, .Footer{
  background-color: #2C3E5A;
}
.State-Boxes{
  margin-top: 10px;
  margin-bottom: 10px;

}
.State-Box {
  display: flex;
}
.Stats {
 
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}
.Total-Cases, .Total-Recoveries{
  margin-bottom: 5px;
}
.List-Cases{
  
  padding-top:20px;
}
.Footer{
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom:0;
  width: 100%;
  /* background-color: #192840; */
}
.Footer-Nav ul{
  display: flex;
  justify-content: space-around;
}

.us-state-map{
  width: 90%;
  height: auto;
  
}
title{
  color: black;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}