*{
  /* background-color: #192840; */
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;

}
.App{
  min-width: 320px;
  background-color: #192840;
  height: 100%;
}
.Header {
  align-items: center;
  width: 100%;
  margin: 0 auto;
  height: 30px;
  /* overflow: hidden; */
  /* position: fixed;   */
  /* top:0; */
  background-color: #192840;
}

.Hamburger {
  padding: 15px 0 0 15px;
}
.Top-Nav{
  height: 100%;
}

.Last-Updated{
  text-align: right;
  background-color: #192840;
  padding-right: 10px;
  /* padding-bottom:30px; */
}
.Last-Updated h6{
   font-weight: 550;
  
}

.Main {
  margin-top: 40px;
  min-height: 100%;
  margin-bottom: 30px;
}

.Top-Dash-Spacer{
  /* height: 40px;
  background-color: #192840; */
}
.Stats {
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  /* padding-top: 30px; */
}

.Stats p{
  font-size: .75rem;
  font-weight: bold;
}

.Stats, .Graph-Buttons, .Graph, .Total-Cases,.Total-Recoveries, .Total-Deaths, .Footer{
  background-color: #2C3E5A;
}
.State-Boxes{
  margin-top: 10px;
  margin-bottom: 10px;

}
.State-Box {
  display: flex;
}

.Total-Cases, .Total-Recoveries{
  margin-bottom: 5px;
}
.List-Cases{
  
  padding-top:20px;
}
.Footer{
  display: flex;
  overflow: hidden;
  position: fixed;
  bottom:0;
  width: 100%;
  /* background-color: #192840; */
}
.Footer-Nav ul{
  display: flex;
  justify-content: space-around;
}

.us-state-map{
  width: 90%;
  height: auto;
  
}
title{
  color: black;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}

@media (max-width: 768px) {
 /* //this may be wrong */


}